{% extends "layout.html" %}

{% block title %}
  ⛅ About
{% endblock %}

{% block div %}
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block main %}
<div class="container">
  <h2 class="font-weight-light text-center text-lg mt-4 mb-0">About</h2>
  <hr class="mt-2 mb-4">
  <p class="about font-weight-light text-left">
    The Good News Aggregator is a web application that scrapes news articles from various news websites that 
    specifically publish news that is considered good/positive/uplifting. With much of the world focusing on 
    negative storylines, this application aims to remind us of the great things happening in the world every day.
    All the scraped articles come from the websites below:
  </p>

  <ul id="websites">
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.thehappybroadcast.com/">https://www.thehappybroadcast.com/</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.goodnewsnetwork.org/category/news/usa/">https://www.goodnewsnetwork.org/category/news/usa/</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.positive.news/articles/">https://www.positive.news/articles/</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.sunnyskyz.com/good-news">https://www.sunnyskyz.com/good-news</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.huffpost.com/impact/topic/good-news">https://www.huffpost.com/impact/topic/good-news</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.today.com/news/good-news">https://www.today.com/news/good-news</a>
    </li>
  </ul>

  <p class="about font-weight-light text-left">
    This project serves as my final project for CS50x, an online course I took in the summer of 2019 to 
    learn the fundamentals of computer science. Throughout this project, I've had the opportunity to explore web development,
    web scraping, and database management. If you would like to see the source code for this project or report a bug,
    feel free to contact me at sammytran277@gmail.com or click the button below to visit my Github profile! Thank you for taking the time to look through my project! — Sammy Tran
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/sammytran277" class="fa fa-github"></a>
  </p>
</div>
{% endblock %}

